

.image-container {
    width: 90%;
    height: 0;
    padding-top: 100%; /* This creates a square aspect ratio */
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover; /* This ensures the image covers the container */
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #007BFF;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    color: #555;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.location {
    margin: 20px 0;
    font-size: 1.2em;
}
.link {
    display: block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.copy-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}
.copy-button:hover {
    background-color: #0056b3;
}
