

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #f4f4f4;
    color: #333; */
    background-color: #001f3f; /* Dark blue for the background, representing space */
    color: #ffffff; /* White text for contrast */    
}


h1, h2, h3, p {
    color: #ffffff; /* White text for headings and paragraphs */
}

a {
    /* color: #FF4136;  Bright red for links, resembling the colors of cities */
    color: #007BFF; /* Bright red for links, resembling the colors of cities */
}

a:hover {
    color: #FF851B; /* Orange for hover effect on links */
}


h1 {
    text-align: center;
    font-size: 2.5em;
    /* color: #007BFF; */
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    /* color: #555; */
}
.container {
    max-width: 600px;
    margin: auto;
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.location {
    margin: 20px 0;
    font-size: 1.2em;
}
.link {
    display: block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.copy-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}

.copy-button:hover {
    background-color: #0056b3;
}


.image-container {
    width: 150px; /* Set the width of the square */
    height: 150px; /* Set the height of the square */
    position: relative;
    margin: 0 auto; /* Center the image container */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */

    background-color: #0074D9; /* Bright blue for the ocean */
    border: 5px solid #2ECC40; /* Green border representing land */
    border-radius: 10px; /* Rounded corners for a softer look */
}